.mydiv {
    background-color: rgb(132, 0, 255);
}
.mouseover {
    background-color: aqua;
}
#myinput:focus {
    background-color: lightblue;
}

.red-input:focus {
    background: yellow;
    color: red;
  }
  
  .blue-input:focus {
    background: yellow;
    color: blue;
  }
  
  body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(C:\Users\Santiago Lince\Desktop\dead.webp)
    background-size: cover;
  }

  .wrap{
    /* background-color: #fff; */
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
  }
  
